abc
argparse
ast
atexit
base64
bdb
binascii
bisect
builtins
bz2
calendar
cmd
code
codecs
codeop
collections
contextlib
copy
copyreg
core
datetime
difflib
dis
doctest
email
encodings
enum
errno
fnmatch
functools
gc
genericpath
getopt
gettext
glob
gzip
hashlib
heapq
html
http
importlib
inspect
io
itertools
json
keyword
linecache
locale
logging
lzma
marshal
math
mimetypes
msvcrt
nt
ntpath
opcode
operator
optparse
os
pdb
pickle
pkgutil
platform
plistlib
posixpath
pprint
py_compile
pydoc
pydoc_data
pyexpat
quopri
random
re
reprlib
runpy
select
selectors
shlex
shutil
signal
socket
socketserver
sre_compile
sre_constants
sre_parse
ssl
stat
string
struct
subprocess
sys
tarfile
tempfile
textwrap
threading
time
token
tokenize
traceback
tracemalloc
tty
types
typing
unicodedata
unittest
urllib
utils
uu
warnings
weakref
webbrowser
winreg
xml
zipfile
zipimport
zlib